@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

code {
    color: #ed7a00;
    background-color: #fff9e2;
}

:root{
    --headercolor: rgb(50, 75, 100);
    --highlightcolor: rgb(50, 75, 100);
}

h1 {
    font-family: 'Fira Mono', monospace;
    font-weight: bold;
    color: var(--headercolor);
}

h2 {
    font-family: 'Fira Mono', monospace;
    font-weight: bold;
    color: var(--headercolor);
}

h3 {
    font-family: 'Fira Mono', monospace;
    font-weight: bold;
    color: var(--headercolor);
}

.navbar-nav > .active > .nav-link {
    color: var(--highlightcolor) !important;
}

.toc-entry > .nav-link.active {
    color: var(--highlightcolor) !important;
}

.bd-sidebar .nav > .active:hover > a, .bd-sidebar .nav > .active > a {
    color: var(--highlightcolor) !important;
}
