@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap');

code {
    color: #ed7a00;
    background-color: #fff9e2;
}

:root{
    --headercolor: rgb(50, 75, 100);
    --highlightcolor: rgb(50, 75, 100);
}

h1, h2, h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: var(--headercolor) !important;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

code, kbd, pre, samp {
    font-family: 'IBM Plex Mono', monospace;
}

.content {
    width: 60em;
}

.bd-sidebar {
    padding-top: 0em;
    padding-right: 2em;
    padding-left: 2em;
}

#site-navigation div.navbar_extra_footer {
    font-size: .6em;
}
