name: Tests

on:
  workflow_dispatch:
  push:
  pull_request:

defaults:
  run:
    shell: bash -l {0}

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.flaky }}
    strategy:
      matrix:
        testset: [matrix, tensor]
        pixi_environment: [testpyold, testpynew]
        os: [ubuntu-latest]
        flaky: [false]

        include:
        - os: macos-latest
          testset: matrix
          pixi_environment: testpymid
          flaky: true

        - os: macos-latest
          testset: tensor
          pixi_environment: testpymid
          flaky: false

        - os: windows-latest
          testset: matrix
          pixi_environment: testpymid
          flaky: false
          env:
            KMP_DUPLICATE_LIB_OK: "True"

        - os: windows-latest
          testset: tensor
          pixi_environment: testpymid
          flaky: false
          env:
            KMP_DUPLICATE_LIB_OK: "True"

        - pixi_environment: testtorch
          testset: tensor
          os: ubuntu-latest
          flaky: false

        - pixi_environment: testjax
          testset: tensor
          os: ubuntu-latest
          flaky: false

        - pixi_environment: testtensorflow
          testset: tensor
          os: ubuntu-latest
          flaky: false

        - pixi_environment: testslepc
          testset: matrix
          os: ubuntu-latest
          flaky: false

    steps:
    - uses: actions/checkout@v4

    - name: Setup pixi
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        environments: ${{ matrix.pixi_environment }}


    - name: Matrix submodule tests with pytest
      if: ${{ matrix.testset == 'matrix' }}
      run: pixi run -e ${{ matrix.pixi_environment }} testmatrix

    - name: Tensor tests with pytest
      if: ${{ matrix.testset == 'tensor' }}
      run: pixi run -e ${{ matrix.pixi_environment }} testtensor

    - name: Report to codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
